<section class="about-banner">
    <div class="container">       
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12  mt-5">
                <h1 class="text-white">
                    About Me        
                </h1> 
                <p class="text-white link-nav"><a href="index.html">Home</a><span class="lnr lnr-arrow-right"></span>
                    <a href="about.component.html"> About</a>
                </p>
                <h4 class="site-banner">
                    Get to know me as a developer, Coder. You can find out about my skills and more below.
                </h4>
            </div>  
        </div>
    </div>
</section>

<div class="container topic_head">
    <div class="topic_head" >
        <h1 class="text-center">At Glance</h1>
    </div>
    
    <div class="info_box">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <table class="table table-bordered col-sm-12">
                    <tbody>
                        <tr>
                            <td>Name</td>
                            <td>Nurul Hassan</td>
                        </tr>
                        <tr>
                            <td>D.O.B.</td>
                            <td>16 April 2000</td>
                        </tr>
                        <tr>
                            <td>Music</td>
                            <td>Atif Aslam, Arijit Singh,<br> Coldplay, A.R.Rehman</td>
                        </tr>
                        <tr>
                            <td>Hobbies</td>
                            <td>Cooking, <br>Listening Songs </td>
                        </tr>
                        <tr>
                            <td>Good In</td>
                            <td>Web Development,Badminton,<br>Singing</td>
                        </tr>
                        <tr>
                            <td>Ask Me</td>
                            <td>UX Design, Technology</td>
                        </tr>
                        <tr>
                            <td>Movies</td>
                            <td>Annabelle, Marvel Studios Series,<br> Bajrangi Bhaijaan</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <div class="col-md-6 col-sm-12">
                <table class="table table-bordered">
                    <tbody >
                        <tr>
                            <td>Profession</td>
                            <td>Student(Information Technology)</td>
                        </tr>
                        <tr>
                            <td>College Year</td>
                            <td>4<sup>th</sup></td>                
                        </tr>
                        <tr>
                            <td>From</td>
                            <td>Kota, Rajasthan</td>
                        </tr>
                        <tr>
                            <td>Keyword</td>
                            <td>Foodie, Adventuruos</td>
                        </tr>
                        <tr>
                            <td>Likes</td>
                            <td>Cooking, Listning & Singing Music</td>
                        </tr>
                        <tr>
                            <td>TV Shows</td>
                            <td>Game Of Thrones, Taarak Mehta Ka Oolta Chashma</td>
                        </tr>
                        <tr>
                            <td>Nationality</td>
                            <td>Indian</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<section class="job-area offwhite pt-3 section-gap-bottom-90">
    <div class="container">
        <div style="margin-top: 20px;">
            <div class="text"></div>
            <div class="row" >
                <div class="col-md-6">
                    <div class="section-title">
                        <h1>Areas</h1>
                        <div class="align-left">Full Stack Development, UI/UX Designing are among my strongest skills. I have created many solid frontend / Backend Application. Also i am giving some of my time to Cloud Technology and Deep Learning.
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="section-title">
                        <h1>Tools</h1>
                    </div>
                    <div class="align-left">
                        <strong>OS&nbsp;&nbsp;&nbsp;</strong> Windows 10 ,Ubuntu 20.04<br>
                        <br>  
                        <strong>Code Edtior &nbsp;&nbsp;&nbsp; </strong>Sublime Text, Visual Studio Code<br><br>
                        <strong>Other &nbsp;&nbsp;&nbsp;  </strong>Git, Photoshop, Git Bash<br><br>
                        <strong>Gadgets  &nbsp;&nbsp;&nbsp; </strong>Dell Vostro 15 (1550) ,PC build.<br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row d-flex">
            <div class="col-lg-12">
                <div class="section-title ">
                    <h1>My Experience</h1>
                    <p>If you are looking at blank cassettes on the web, you may be very confused at the difference in price. You may see
                        some for as low as $.17 each.</p>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-6">
                    <div class="single-job">
                        <div class="top-sec d-flex justify-content-between">
                            <div class="top-left">
                                <h4>Wisflux Edtech Labs</h4>
                                <p>IT, Jaipur</p>
                            </div>
                            <div class="top-right">
                                <a href="#" class="primary-btn" data-text="May`19 to June`19">
                                    <span>M</span><span>a</span><span>y</span>
                                    <span>'</span><span>1</span><span>9</span>
                                    <span>t</span><span>o</span>
                                    <span>J</span><span>u</span><span>n</span><span>e</span><span>'</span><span>1</span><span>9</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="single-job">
                        <div class="top-sec d-flex justify-content-between">
                            <div class="top-left">
                                <h4>Rayqube Future Tech. Pvt Ltd</h4>
                                <p>Future Technology, Jaipur</p>
                            </div>
                            <div class="top-right">
                                <a href="#" class="primary-btn" data-text="August'18 to Dec.`18">
                                    <span>A</span><span>u</span><span>g</span>
                                    <span>'</span><span>1</span><span>8</span>
                                    <span>t</span><span>o</span>
                                    <span>D</span><span>e</span><span>c</span><span>.</span><span>'</span><span>1</span><span>8</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-6">
                    <div class="single-job">
                        <div class="top-sec d-flex justify-content-between">
                            <div class="top-left">
                                <h4>DXB</h4>
                                <p>IT, Kota</p>
                            </div>
                            <div class="top-right">
                                <a href="#" class="primary-btn" data-text="June'18 to July`18">
                                    <span>J</span><span>u</span><span>n</span><span>e</span>
                                    <span>'</span><span>1</span><span>8</span>
                                    <span>t</span><span>o</span>
                                    <span>J</span><span>u</span><span>l</span><span>y</span><span>'</span><span>1</span><span>8</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>