html,body {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline
}
body{
    line-height:1
}

.dp_img{
    height:160px;
    width:auto;
}
@media screen and (max-width:767px)
{.container_grid .about{height:100%;
    padding-top:6em;
    border:none;
    padding-left:1.2em!important;
    padding-right:1.2em!important
}
.container_grid .projects{
    padding-left:1.2em!important;
    padding-right:1.2em!important
}
.container_grid .projects .header a{
    display:none
}
.container_grid .projects .project{
    grid-template-columns:auto
}
.container_grid .projects .project .content{
    padding:0!important
}
.container_grid .projects .project img{
    display:none
}
}
@media screen and (min-width:768px) and (max-width:1200px){
    .container_grid .about{
        height:100%;
        padding-top:8em;
        border:none
    }
    .container_grid .projects .header a{
        display:none;
    }
    .nav_work{
        position: relative;
        width: 100%;
        display: block;
    }
    .container_grid .projects .project{
        grid-gap:2em;
        grid-template-columns:40% 60%;
    }
    .container_grid .projects .project img{
        width:100%
    }
}
@media screen and (min-width:1201px)
{
    .container_grid{
        grid-template-columns:30% 70%
    }
    .container_grid .about{
        border-right:1px solid rgba(157,157,157,0.15);
        padding-top:25vh;
    }
     .nav_work{
        position: absolute;
        width: 25%;
        left: 2.5%;
        display: block;
    }
    .container_grid .projects .header a{
        display:block
    }
    .container_grid .projects .project{grid-gap:2em;
        grid-template-columns:40% 60%
    }
    .container_grid .projects .project img{
        width:100%
    }
}
.hvr-forward{
    display:inline-block;
    vertical-align:middle;
    -webkit-transform:perspective(1px) translateZ(0);
    transform:perspective(1px) translateZ(0);
    box-shadow:0 0 1px transparent;
    -webkit-transition-duration:0.3s;
    transition-duration:0.3s;
    -webkit-transition-property:transform;
    transition-property:transform
}
.hvr-forward:hover,.hvr-forward:focus,.hvr-forward:active{
    -webkit-transform:translateX(8px);
    transform:translateX(8px)
}
.container_grid{
    display:grid
}
.container_grid .about{
    max-height:100%;
    min-width:250px;
    padding-right:4em;
    padding-left:4em;
    text-align:center
}
.container_grid .about img{
    margin-bottom:1.5em
}
.container_grid .about h1{
    font-family:'karla',sans-serif;
    font-size:1.5em;
    color:#333;
    letter-spacing:0.5px;
    margin-bottom:0.5em
}
.container_grid .about h2{
    font-family:'karla',sans-serif;
    font-size:1em;
    color:#666;
    letter-spacing:0.15px;
    line-height:1.5em
}
.container_grid .about .social-media{
    margin:1em 0 2em 0
}
.container_grid .about .social-media img{
    margin:0 0.5em;
    transition-property:all;
    transition-duration:0.15s;
    transition-timing-function:ease-in
}
.container_grid .about .social-media img:hover{
    transform:scale(1.1);opacity:0.8
}
.container_grid .about button {
    cursor: pointer;
    border: 1px solid #ce6848;
    padding: 0.8em 1.5em;
    line-height: 1.5em;
    background-color: transparent;
    border-radius: 0.25em;
    font-family: 'karla',sans-serif;
    font-size: 1.2em;
    color: #ce6848;
    letter-spacing: 0.42px;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
}
.container_grid .about button:focus{
    outline:none
}
.container_grid .about button:hover{
    transform:scale(1.01);
    box-shadow:0 2px 0 0 rgba(248,124,84,0.4)
}
.container_grid .projects{
    
    padding:4em
}
.container_grid .projects hr{
    height:1px;
    margin-top:1em;
    margin-bottom:2em;
    border:0;
    background:#DDD
}
.container_grid .projects .header{
    display:flex;
    flex-direction:row;
    align-items:baseline;
    justify-content:space-between
}
.container_grid .projects .header h3{
    font-family:'karla',sans-serif;
    font-size:1.5em;
    color:#333;
    letter-spacing:0.67px
}
.container_grid .projects .header a{
    text-decoration:none;
    font-family:'karla',sans-serif;
    font-size:0.8em;
    color:#CCC;
    line-height:1;
    letter-spacing:0.33px
}
.container_grid .projects .list .project{
    display:grid;
    margin-bottom:4em
}
.container_grid .projects .list .project img{
    box-shadow:0 2px 4px 0 rgba(233,233,233,0.5);
    margin-top: 78px;
}
.container_grid .projects .list .project .content{
    padding:1em
}
.container_grid .projects .list .project .content h4 a{
    text-decoration:none;
    text-transform:uppercase;
    font-family:'karla',sans-serif;
    font-size:1.3em;
    color:#F87C54;
    letter-spacing:0.5px;
    line-height:1.5em
}
.container_grid .projects .list .project .content h5{
    font-family:'karla',sans-serif;
    font-size:1.2em;
    color: #af593f;
    line-height:1.5em;
    letter-spacing:0.42px;
    margin:0.5em 0 0.4em 0
}
.container_grid .projects .list .project .content p{
    font-family:'karla',sans-serif;
    font-size:1em;
    color:#666;
    letter-spacing:0.15px;
    line-height:24px;
    margin-bottom:0.6em
}
.container_grid .projects .list .project .content a{
    font-family:'karla',sans-serif;
    font-size:0.9em;
    letter-spacing:0.13px;
    line-height:24px
}
.fa_h{
    height: 17px;
}
@font-face {
    font-family: Karla;
    src: url(../../assets/work/font/Karla-Regular.ttf),
    url(../../assets/work/font/Karla-Bold.ttf),
    url(../../assets/work/font/Karla-BoldItalic.ttf),
    url(../../assets/work/font/Karla-Italic.ttf);
}

@-webkit-keyframes hvr-icon-wobble-horizontal {
    16.65% {
        -webkit-transform: translateX(6px);
        transform: translateX(6px);
    }
    33.3% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    49.95% {
        -webkit-transform: translateX(4px);
        transform: translateX(4px);
    }
    66.6% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px);
    }
    83.25% {
        -webkit-transform: translateX(1px);
        transform: translateX(1px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes hvr-icon-wobble-horizontal {
    16.65% {
        -webkit-transform: translateX(6px);
        transform: translateX(6px);
    }
    33.3% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    49.95% {
        -webkit-transform: translateX(4px);
        transform: translateX(4px);
    }
    66.6% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px);
    }
    83.25% {
        -webkit-transform: translateX(1px);
        transform: translateX(1px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
.hvr-icon-wobble-horizontal {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.hvr-icon-wobble-horizontal .hvr-icon {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.hvr-icon-wobble-horizontal:hover .hvr-icon, .hvr-icon-wobble-horizontal:focus .hvr-icon,
.hvr-icon-wobble-horizontal:active .hvr-icon {
    -webkit-animation-name: hvr-icon-wobble-horizontal;
    animation-name: hvr-icon-wobble-horizontal;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
.check_btn {
    margin: .4em;
    padding: 8px;
    border: 1px solid #714639;
    cursor: pointer;
    background: #fdfdfd;
    border-radius: 56px;
    text-decoration: none;
    color: #633636;
}

.visit{
    text-decoration: none;
    font-size: 1.2em;
}